.bicycles-bg {
  background: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.bicycles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding: 60px 0px;
  background: url("../../../assets/dec/top-right.svg") no-repeat top 40px right 20px;
}

.bicycles-image {
  display: grid;
}

.bicycles-image img {
  grid-area: 1/1;
}

.bicycles-image span {
  grid-area: 1/1;
  place-self: start end;
  margin-top: 20px;
  background-color: var(--color-12);
  display: inline-block;
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.bicycles-content {
  display: grid;
  align-content: start;
  grid-template-columns: 1fr auto;
}

.bicycles h2,
.bicycles p {
  grid-column: 1/-1;
}

.bicycles h2 {
  margin-bottom: 20px;
}

.bicycles h2::before {
  content: "";
  display: block;
  height: 8px;
  width: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.bicycles p {
  margin-bottom: 32px;
}

.bicycles a {
  place-self: end;
}

.bicycles li {
  display: flex;
  align-items: center;
}

.bicycles-content img {
  width: 24px;
  margin-right: 8px;
}

.bicycles ul {
  display: grid;
  gap: 16px;
}

@media (max-width: 800px) {
  .bicycles {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 40px 0;
  }

  .bicycles-bg {
    background-color: var(--color-11);
  }
}

@media (max-width: 600px) {
  .bicycles-content {
    grid-template-columns: 1fr;
  }

  .bicycles ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicycles a {
    place-self: start;
  }
}
