.form {
  margin-bottom: 2rem;
}

.lost {
  display: inline-block;
  color: #666;
  padding: 0.5rem 0;
}

.lost::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: currentColor;
  display: block;
}

.register {
  margin-top: 4rem;
}

.register p {
  margin: 2rem 0;
}

.subtitle {
  font-family: var(--type-second);
  line-height: 1;
  font-size: 2rem;
}

.subtitle::after {
  content: "";
  display: block;
  background-color: #ddd;
  width: 3rem;
  height: 0.5rem;
  border-radius: 0.2rem;
}
